dogshow.csproj
dogshow.sln
bin/Debug/net8.0/BouncyCastle.Cryptography.dll
bin/Debug/net8.0/Dapper.dll
bin/Debug/net8.0/dogshow.deps.json
bin/Debug/net8.0/dogshow.dll
bin/Debug/net8.0/dogshow.exe
bin/Debug/net8.0/dogshow.pdb
bin/Debug/net8.0/dogshow.runtimeconfig.json
bin/Debug/net8.0/Google.Protobuf.dll
bin/Debug/net8.0/K4os.Compression.LZ4.dll
bin/Debug/net8.0/K4os.Compression.LZ4.Streams.dll
bin/Debug/net8.0/K4os.Hash.xxHash.dll
bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/MySql.Data.dll
bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net8.0/System.Drawing.Common.dll
bin/Debug/net8.0/System.IO.Pipelines.dll
bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net8.0/System.Security.Permissions.dll
bin/Debug/net8.0/System.Windows.Extensions.dll
bin/Debug/net8.0/ZstdSharp.dll
bin/Debug/net8.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net8.0/runtimes/win-x64/native/comerr64.dll
bin/Debug/net8.0/runtimes/win-x64/native/gssapi64.dll
bin/Debug/net8.0/runtimes/win-x64/native/k5sprt64.dll
bin/Debug/net8.0/runtimes/win-x64/native/krb5_64.dll
bin/Debug/net8.0/runtimes/win-x64/native/krbcc64.dll
obj/dogshow.csproj.nuget.dgspec.json
obj/dogshow.csproj.nuget.g.props
obj/dogshow.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/dogshow.AssemblyInfo.cs
obj/Debug/net8.0/dogshow.AssemblyInfoInputs.cache
obj/Debug/net8.0/dogshow.assets.cache
obj/Debug/net8.0/dogshow.csproj.AssemblyReference.cache
obj/Debug/net8.0/dogshow.csproj.CopyComplete
obj/Debug/net8.0/dogshow.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/dogshow.csproj.FileListAbsolute.txt
obj/Debug/net8.0/dogshow.dll
obj/Debug/net8.0/dogshow.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/dogshow.genruntimeconfig.cache
obj/Debug/net8.0/dogshow.GlobalUsings.g.cs
obj/Debug/net8.0/dogshow.pdb
obj/Debug/net8.0/ref/dogshow.dll
obj/Debug/net8.0/refint/dogshow.dll
.$dogexibition.drawio.bkp
